<div class="overflow-x-scroll">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Number</th>
        <th>Extn</th>
      </tr>
    </thead>
    <tbody>
      {% for staff in site.data.staff.athletic-department %}
        <tr>
          <td>{{ staff.name }}</td>
          <td>{{ staff.position }}</td>
          <td>{{ staff.email }}</td>
          <td>{{ staff.number }}</td>
          <td>{{ staff.extension }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
