<h1 class="hide">Needham High School Athletics</h1>
<div class="header">Needham High School Athletics</div>
<nav class="main-navigation">
  <div class="navigation-bar max-width wide">
    <h2 class="hide">Main Navigation Menu</h1>
    <div class="navigation-logo">
      <a class="navigation-logo-link" href="/">
        <img src="/assets/media/nhs.png" alt="Needham High School logo">
      </a>
    </div>
    <div class="navigation-main">
      {% assign sports = site.data.sports %}
      {% assign boys-sports = sports | where: "category", "boys" %}
      {% assign girls-sports = sports | where: "category", "girls" %}
      {% assign coed-sports = sports | where: "category", "coed" %}
      {% assign club-sports = sports | where: "category", "club" %}
      {% assign navigation-sections = site.data.navigation %}
      <div class="navigation-desktop">
        <ul class="navigation-level-1">
          <li class="navigation-item">
            <div class="navigation-section">
              <a>Sports</a>
            </div>
            <div class="navigation-level-2">
              <div class="navigation-level-2-inner">
                <ul class="navigation-column">
                  <li class="navigation-separator">Boy's Sports</li>
                  {% include sports-desktop-header-section.html
                    sports = boys-sports %}
                  <li class="navigation-separator">Coed Sports</li>
                  {% include sports-desktop-header-section.html
                    sports = coed-sports %}
                </ul>
                <ul class="navigation-column">
                  <li class="navigation-separator">Girls's Sports</li>
                  {% include sports-desktop-header-section.html
                    sports = girls-sports %}
                  <li class="navigation-separator">Club Sports</li>
                  {% include sports-desktop-header-section.html
                    sports = club-sports %}
                </ul>
              </div>
            </div>
          </li>
          {% for navigation-section in navigation-sections %}
            <li class="navigation-item">
              <div class="navigation-section">
                <a>{{ navigation-section.display }}</a>
              </div>
              <div class="navigation-level-2">
                <div class="navigation-level-2-inner">
                  <ul class="navigation-column">
                    {% for link in navigation-section.links %}
                      <a href="{{ link.url }}">
                        <li class="navigation-row">{{ link.display }}</li>
                      </a>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="navigation-mobile">
        <div class="level-1-toggle toggle" data-active="false" data-for="mobile-navigation-toggle">
          <span class="fa-solid fa-bars toggle-false"></span>
          <span class="fa-solid fa-xmark toggle-true"></span>
        </div>
        <div class="navigation-level-1 mobile-navigation-toggle" data-active="false">
          <ul>
            <li class="navigation-item">
              <div class="navigation-section toggle" data-active="false" data-for="mobile-navigation-toggle-sports">
                <a>Sports</a>
                <div class="level-2-toggle">
                  <span class="fa-solid fa-angle-down toggle-false"></span>
                  <span class="fa-solid fa-angle-up toggle-true"></span>
                </div>
              </div>
              <div class="navigation-level-2 mobile-navigation-toggle-sports" data-active="false">
                <ul>
                  <li class="navigation-separator">Boy's Sports</li>
                  {% include sports-mobile-header-section.html
                    sports=boys-sports %}
                  <li class="navigation-separator">Girls's Sports</li>
                  {% include sports-mobile-header-section.html
                    sports=girls-sports %}
                  <li class="navigation-separator">Coed Sports</li>
                  {% include sports-mobile-header-section.html
                    sports=coed-sports %}
                  <li class="navigation-separator">Club Sports</li>
                  {% include sports-mobile-header-section.html
                    sports=club-sports %}
                </ul>
              </div>
            </li>
            {% for navigation-section in navigation-sections %}
              <li class="navigation-item">
                <div class="navigation-section toggle" data-active="false" data-for="mobile-navigation-toggle-{{ navigation-section.display }}">
                  <a>{{ navigation-section.display }}</a>
                  <div class="level-2-toggle">
                    <span class="fa-solid fa-angle-down toggle-false"></span>
                    <span class="fa-solid fa-angle-up toggle-true"></span>
                  </div>
                </div>
                <div class="navigation-level-2 mobile-navigation-toggle-{{ navigation-section.display }}" data-active="false">
                  <ul>
                    {% for link in navigation-section.links %}
                      <a href="{{ link.url }}">
                        <li class="navigation-row">{{ link.display }}</li>
                      </a>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
