<header>
  {%- include base-header.html -%}
  {% assign sport = site.data.sports[page.sport] %}
  <nav class="sport-navigation">
    <h2 class="hide">Sport Navigation Menu</h1>
    <div class="navigation-bar max-width wide">
      <div class="sport-title">
        <a href="{{ sport.link }}">
          {{ sport.title }}
        </a>
      </div>
      <ul class="sport-links">
        <li>
          <a href="{{ sport.link }}">
            Home
          </a>
        </li>
        <li>
          <a href="{{ sport.link }}/roster">
            Roster
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
