{% for sport in include.sports %}
  <li class="navigation-row">
    <a class="sport-link" href="{{ sport.link }}">
      {% if sport.name-levels %}
        {{ sport.name-levels }}
      {% else %}
        {{ sport.name }}
      {% endif %}
    </a>
    {% assign seasons = sport.seasons | split: "," %}
    {% for season in seasons %}
      {% if season == "fall" %}
        <span class="icon fa-solid fa-leaf"></span>
      {% elsif season == "winter" %}
        <span class="icon fa-regular fa-snowflake"></span>
      {% elsif season == "spring" %}
        <span class="icon fa-regular fa-sun"></span>
      {% endif %}
    {% endfor %}
    <div class="sport-other-links">
      <a href="{{ sport.link }}#schedule" {% unless sport.schedule %} style="visibility: hidden;" {% endunless %}>
        Schedule
      </a>
    </div>
    <div class="sport-social-media-links">
      <a class="icon fa-brands fa-instagram" href="https://www.instagram.com/{{ sport.instagram }}" {% unless sport.instagram %} style="visibility: hidden;" {% endunless %}></a>
      <a class="icon fa-brands fa-twitter" href="https://twitter.com/{{ sport.twitter }}" {% unless sport.twitter %} style="visibility: hidden;" {% endunless %}></a>
    </div>
  </li>
{% endfor %}
