{% for sport in include.sports %}
  <li class="navigation-row">
    <a class="sport-link" href="{{ sport.link }}">{{ sport.name }}</a>
    {% if sport.season == "fall" %}
      <span class="icon fa-solid fa-leaf"></span>
    {% elsif sport.season == "winter" %}
      <span class="icon fa-regular fa-snowflake"></span>
    {% elsif sport.season == "spring" %}
      <span class="icon fa-regular fa-sun"></span>
    {% endif %}
    <div class="sport-other-links">
      <a href="{{ sport.link }}#schedule" {% unless sport.schedule %} style="visibility: hidden;" {% endunless %}>
        Schedule
      </a>
    </div>
    <div class="sport-social-media-links">
      <a class="icon fa-brands fa-instagram" href="{{ sport.instagram }}" target="_blank" {% unless sport.instagram %} style="visibility: hidden;" {% endunless %}></a>
      <a class="icon fa-brands fa-twitter" href="{{ sport.twitter }}" target="_blank" {% unless sport.twitter %} style="visibility: hidden;" {% endunless %}></a>
    </div>
  </li>
{% endfor %}
