<!DOCTYPE html>
<html lang="en">
  {% assign sport = site.data.sports[page.sport] %}

  {%- include head.html -%}

  <body>

    {%- include sport-header.html
      sport=sport -%}

    <main class="page-content sport-content mobile-navigation-toggle" data-active="true" aria-label="Content">
      <div class="wrapper max-width wide">
        {% if sport.schedule %}
          {% include sport-schedule.html
            sport=sport %}
        {% endif %}

        {% if sport.instagram or sport.twitter %}
          {% include sport-social-media.html
            sport=sport %}
        {% endif %}

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
